<div class="rhelper">
  <div class="block">
    <div class="title"><h3>What is QARoR?</h3></div>
    <div class="bdesc">
      It's open source Questions &amp; Answers platform write for Ruby on Rails enthusiasts.
      <div><a href="http://github.com/mateuszdw/qaror">FORK on GitHub</a></div>
    </div>
  </div>
  <div class="block">
    <div class="title"><h3>Latest tags</h3></div>
    <div class="tags">
      <% @tag_thr.each do |k,v| %>
          <%= tag_schema(k,v) %>
      <% end %>
    </div>
  </div>
  <% if !@achievements.blank? %>
    <div class="block">
      <div class="title"><h3>Latest achievements</h3></div>
      <div class="achievements">
        <% @achievements.each do |achievement| %>
          <div><%= achievement_schema(achievement.badge,:count=>false) %> <%=raw achievement.user.sname %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>