<div class="lcontent">
  <div class="title">
    <h1><%= title(t('thrs.new.title')) %></h1>
  </div>
  <div class="icontent"><%= render 'form' %></div>
  
</div>
<div class="rhelper">
  <div class="block">
    <div class="title"><h3>Utwórz nową wiadomość tylko gdy:</h3></div>
    <div class="bdesc">
      <ul>
        <li>nie możesz znaleźć informacji na wybrany temat na tym forum</li>
        <li>znalazłeś błąd lub masz sugestie na ulepszenie AdSkip</li>
        <li>chcesz zadać pytanie nam lub innym użytkownikom</li>
      </ul>
    </div>
  </div>

  <div class="block">
    <div class="title"><h3>Tagi</h3></div>
    <div class="bdesc">
      Dodaj od <%= Tag::MIN_TAGS %> do <%= Tag::MAX_TAGS %> tagów odzielonych
      spacją, które pozwolą odnaleźc innym twoje pytanie.
    </div>
  </div>
</div>
<div class="clear"></div>

