<div class="lcontent">
  <div class="title">
    <h1><%= title(t('thrs.new.title')) %></h1>
  </div>
  <div class="icontent"><%= render 'form' %></div>
  
</div>
<div class="rhelper">
  <div class="block">
    <div class="title"><h3>Create new question only when:</h3></div>
    <div class="bdesc">
      <ul>
        <li>you can't find it on this website</li>
        <li>you found a bug or have suggestion to improve this website</li>
      </ul>
    </div>
  </div>

  <div class="block">
    <div class="title"><h3>Tags</h3></div>
    <div class="bdesc">
      Add from <%= Tag::MIN_TAGS %> to <%= Tag::MAX_TAGS %> keywords separated by a space, that will allow others find your question
    </div>
  </div>
</div>
<div class="clear"></div>

