<div class="shareit">
  <div class="small_font" style="margin-bottom:5px;"><strong>Informuj znajomych:</strong></div>
  <!-- google+ scripts -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'pl'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <div class="left" style="margin-left:4px;"><g:plusone size="medium" annotation="none"></g:plusone></div>
  <div class="left" style="margin-left:8px;">
    <iframe src="//www.facebook.com/plugins/like.php?href=<%=u thr_url(object) %>&amp;send=false&amp;layout=button_count&amp;width=70&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
  </div>
  <div class="clear"></div>
</div>