#content table th{
     border: 1px solid #AAAAAA;
     background-color: #666666;
     padding:3px;
     color:#FFFFFF;
}

#content table td{
     border-bottom: 1px solid #DDDDDD;
     padding:4px 5px;
}

#content table {
    border-collapse:collapse;
}